@model Kleide.Models.Asmuo

@{
    ViewData["Title"] = "Edit";
}



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AsmensKodas" />
            <div class="form-group">
                <label asp-for="Vardas" class="control-label"></label>
                <input asp-for="Vardas" class="form-control" />
                <span asp-validation-for="Vardas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pavarde" class="control-label"></label>
                <input asp-for="Pavarde" class="form-control" />
                <span asp-validation-for="Pavarde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefonas" class="control-label"></label>
                <input asp-for="Telefonas" class="form-control" />
                <span asp-validation-for="Telefonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miestas" class="control-label"></label>
                <input asp-for="Miestas" class="form-control" />
                <span asp-validation-for="Miestas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salis" class="control-label"></label>
                <input asp-for="Salis" class="form-control" />
                <span asp-validation-for="Salis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresas" class="control-label"></label>
                <input asp-for="Adresas" class="form-control" />
                <span asp-validation-for="Adresas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PastoKodas" class="control-label"></label>
                <input asp-for="PastoKodas" class="form-control" />
                <span asp-validation-for="PastoKodas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Patvirtinti" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
