@model Kleide.Models.Preke

@{
    ViewData["Title"] = "Create";
}

<h4>Prekės pridėjimas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pavadinimas" class="control-label"></label>
                <input asp-for="Pavadinimas" class="form-control" />
                <span asp-validation-for="Pavadinimas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dydis" class="control-label"></label>
                <input asp-for="Dydis" class="form-control" />
                <span asp-validation-for="Dydis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spalva" class="control-label"></label>
                <input asp-for="Spalva" class="form-control" />
                <span asp-validation-for="Spalva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aprasymas" class="control-label"></label>
                <input asp-for="Aprasymas" class="form-control" />
                <span asp-validation-for="Aprasymas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nuotrauka" class="control-label"></label>
                <select asp-for="Nuotrauka" class="form-control" asp-items="ViewBag.Nuotraukos"></select>
                <span asp-validation-for="Nuotrauka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PridejimoData" class="control-label"></label>
                <input asp-for="PridejimoData" class="form-control" />
                <span asp-validation-for="PridejimoData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NuomosSkaicius" class="control-label"></label>
                <input asp-for="NuomosSkaicius" class="form-control" />
                <span asp-validation-for="NuomosSkaicius" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kaina" class="control-label"></label>
                <input asp-for="Kaina" class="form-control" />
                <span asp-validation-for="Kaina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bukle" class="control-label"></label>
                <input asp-for="Bukle" class="form-control" />
                <span asp-validation-for="Bukle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagaminimoSalis" class="control-label"></label>
                <input asp-for="PagaminimoSalis" class="form-control" />
                <span asp-validation-for="PagaminimoSalis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArRankuDarbo" class="control-label"></label>
                <input asp-for="ArRankuDarbo" class="form-control" />
                <span asp-validation-for="ArRankuDarbo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RezervavimoTipas" class="control-label"></label>
                <input asp-for="RezervavimoTipas" class="form-control" />
                <span asp-validation-for="RezervavimoTipas" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="IdPreke" class="control-label"></label>
                    <input asp-for="IdPreke" class="form-control" />
                    <span asp-validation-for="IdPreke" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FkPirkimasuzsakymoNumeris" class="control-label"></label>
                    <select asp-for="FkPirkimasuzsakymoNumeris" class ="form-control" asp-items="ViewBag.FkPirkimasuzsakymoNumeris"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FkNuomanuomosNumeris" class="control-label"></label>
                    <select asp-for="FkNuomanuomosNumeris" class ="form-control" asp-items="ViewBag.FkNuomanuomosNumeris"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FkSandelysidSandelys" class="control-label"></label>
                    <select asp-for="FkSandelysidSandelys" class ="form-control" asp-items="ViewBag.FkSandelysidSandelys"></select>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
