@model Kleide.Models.Suknele

@{
    ViewData["Title"] = "Delete";
}


<h3>Ar tikrai norite ištrinti suknelę?</h3>
<div>
    <h4>Suknelė</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ilgis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ilgis)
        </dd>
        <dt>
            Audinys
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Audinys)
        </dd>
        <dt>
            Modelio tipas
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelioTipas)
        </dd>
        <dt>
            Suknelės prekė
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkPrekeidPrekeNavigation.IdPreke)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SuknelesNumeris" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Grįžti į sąrašą</a>
    </form>
</div>
